<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>
<app-endereco (addNewFavorite)="receiveNewFavorite($event)"></app-endereco>
<section class="mat-card-margin">
  <mat-card>
    <mat-card-header color="warn">
      <div mat-card-avatar class="example-header-image"><mat-icon>map</mat-icon></div>
      <mat-card-title>Meus Favoritos ! </mat-card-title> 
      <mat-card-subtitle> Quantidade: {{favoritos.length}}</mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let favorito of favoritos" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title (click)="onExpansion(favorito.cep)">
              <mat-icon>check</mat-icon> <p> {{ favorito.cep }}</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</section>

<!-- <router-outlet></router-outlet> -->